
.products {
   display: flex;
   flex-wrap: wrap;
   /* align-items: center ;  breaks styling*/
    /* display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*min value is 250px , while max is 1 fraction of the remaining columns*/
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  

  .product {
    flex: 1 1 250px; /**same use of grid*/ /*grow ,shrink ,basis*/
    min-width: 250px;/*similar to minmax*/
    max-width: 1fr;/*similar to min max*/
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  
  .product:hover {
    transform: scale(1.05);
  }
  
 
  .product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  

  .product h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  
  .product p {
    font-size: 1rem;
    color: #555;
  }
  

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
 
  .add-product-btn {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-product-btn:hover {
    background-color: #218838;
  }
  